.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.submitButton {
  font-size: 1.4rem;
  padding: 0 !important;
}

@media screen and (min-width: 768px) {
  .form {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}
