.heading {
  color: var(--text-color);
}

.h1 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0.5rem 0;
}

.h2 {
  font-size: 1.4rem;
  margin: 0.4rem 0;
  font-weight: 600;
}

.h3 {
  font-size: 1.2rem;
  margin: 0.3rem 0;
  font-weight: 600;
}

.h4 {
}

.h5 {
}

.h6 {
}

@media screen and (min-width: 768px) {
  .h1 {
    font-size: 2rem;
  }

  .h2 {
  }

  .h3 {
  }

  .h4 {
  }

  .h5 {
  }

  .h6 {
  }
}
