.button {
  background-color: var(--component-bg-color);
  color: var(--text-secondary);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  text-align: center;
}

.button:hover {
  cursor: pointer;
}

.shadow {
  box-shadow: var(--shadow);
}

.icon {
  margin: 0.3rem;
}
