.container {
  padding: 1rem;
}

.button {
  margin: 1rem;
}

.flag {
  width: 90%;
  height: fit-content;
}

.heading {
  font-size: 2rem !important;
}

.info {
  margin-top: 1.2rem;
}

.properties {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media screen and (min-width: 768px) {
  .content {
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    align-items: center;
  }

  .flag {
    max-width: 500px;
  }
}
